<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.TaskDao">

	<select id="get" resultType="com.bootdo.common.domain.TaskDO">
		select `id`,`cron_expression`,`bean_class`,`create_date`,`job_status`,`job_group`,`update_date`,`job_name` from sys_task_dzk where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.TaskDO">
		select `id`,`cron_expression`,`bean_class`,`create_date`,`job_status`,`job_group`,`update_date`,`job_name` from sys_task_dzk
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cronExpression != null and cronExpression != ''"> and cron_expression = #{cronExpression} </if>
		  		  <if test="beanClass != null and beanClass != ''"> and bean_class = #{beanClass} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="jobStatus != null and jobStatus != ''"> and job_status = #{jobStatus} </if>
		  		  <if test="jobGroup != null and jobGroup != ''"> and job_group = #{jobGroup} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="jobName != null and jobName != ''"> and job_name = #{jobName} </if>
		  		</where>
	</select>
	


	<update id="update" parameterType="com.bootdo.common.domain.TaskDO">
		update sys_task_dzk
		<set>
			<if test="cronExpression != null">`cron_expression` = #{cronExpression}, </if>
			<if test="beanClass != null">`bean_class` = #{beanClass}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="jobStatus != null">`job_status` = #{jobStatus}, </if>
			<if test="jobGroup != null">`job_group` = #{jobGroup}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="jobName != null">`job_name` = #{jobName}</if>
		</set>
		where id = #{id}
	</update>


</mapper>